
#start{
    width: 30%;
    margin-top: 17%;
    height: 100%;
}
#submit{
    width: 30%;
   
    height: 30%;
}
input[type="radio"]{
   padding: 3%;
}
button:hover{
    background-color:rgb(53, 176, 218);
}